@media only screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        background: rgb(15, 23, 42);
    }

    .container {
        display: flex;
    }

    .esquerda {
        flex: 1;
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 5%;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
    }

    .lista-projetos {
        flex: 1;
        margin-left: 58%;
        padding-bottom: 8%;
    }


    .info-geral {
        text-align: left;
        padding: 20px;
        color: white;
        line-height: 0.5;
    }

    .info-geral h1 {
        font-weight: bold;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .info-geral h2 {
        font-weight: normal;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .info-geral p {
        font-size: 18px;
        /* Altere o tamanho da fonte aqui */
        max-width: 600px;
        /* Defina o tamanho máximo para a div aqui */
        margin-bottom: 10px;
        /* Adicione um espaçamento inferior para o elemento <p> */
    }

    code {
        font-family: monospace;
    }

    .redes {
        position: fixed;
        bottom: 10%;
        left: 8%;
        padding: 20px;
    }

    .redes a {
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 10px;
    }

    .main-section {
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 5%;
    }

    .fab {
        font-size: 30px;
        /* Altere o valor para ajustar o tamanho dos ícones */
    }

    .projeto {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .projeto-container {
        border-radius: 10px;
        transition: background-color 0.5s ease;
        width: 550px;
        padding: 15px;
        padding-top: 0px;
    }

    .projeto-container:hover {
        background: rgb(22, 34, 61);
    }

    .projeto-data {
        width: 100px;
        background-color: #008b8b;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .projeto-funcao {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    .projeto-funcao-descricao {
        font-size: 18px;
        font-weight: normal;
        text-align: justify;
        color: rgb(170, 157, 157);
        margin: 0;
    }

    .projeto-descricao {
        font-size: 18px;
        max-width: 600px;
        margin-bottom: 10px;
        text-align: justify;
        color: rgb(170, 157, 157);
    }

    .tags {
        display: flex;
    }

    .projeto-projeto {
        background-color: #008b8b;
        color: white;
        border-radius: 20px;
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .video {
        padding-left: 20px;
    }

    .lista-projetos-descricao {
        color: white;
    }

    .lista-projetos-descricao h1 {
        font-weight: bold;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .lista-projetos-descricao p {
        font-weight: normal;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
}







@media only screen and (max-width: 1023px) {
    body {
        margin: 0;
        padding: 0;
        background: rgb(15, 23, 42);
    }

    .container {
        display: 1;
    }

    .esquerda {
        flex: 1;
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 5%;
    }

    .lista-projetos {
        flex: 1;
        margin-left: 58%;
        padding-bottom: 8%;
    }


    .info-geral {
        text-align: left;
        padding: 20px;
        color: white;
        line-height: 0.5;
    }

    .info-geral h1 {
        font-weight: bold;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .info-geral h2 {
        font-weight: normal;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .info-geral p {
        font-size: 18px;
        /* Altere o tamanho da fonte aqui */
        max-width: 600px;
        /* Defina o tamanho máximo para a div aqui */
        margin-bottom: 10px;
        /* Adicione um espaçamento inferior para o elemento <p> */
    }

    code {
        font-family: monospace;
    }

    .redes {
        padding: 20px;
    }

    .redes a {
        margin-bottom: 10px;
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        padding-right: 10px;
    }

    .main-section {
        margin-right: 8%;
        margin-left: 8%;
        margin-top: 5%;
    }

    .fab {
        font-size: 30px;
        /* Altere o valor para ajustar o tamanho dos ícones */
    }

    .projeto {
        display: flex;
        align-items: center;
        margin-top: 30px;
    }

    .projeto-container {
        border-radius: 10px;
        transition: background-color 0.5s ease;
        width: 550px;
        padding: 15px;
        padding-top: 0px;
    }

    .projeto-container:hover {
        background: rgb(22, 34, 61);
    }

    .projeto-data {
        width: 100px;
        background-color: #008b8b;
        color: white;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        margin-right: 20px;
    }

    .projeto-funcao {
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 5px;
        color: rgb(255, 255, 255);
    }

    .projeto-funcao-descricao {
        font-size: 18px;
        font-weight: normal;
        text-align: justify;
        color: rgb(170, 157, 157);
        margin: 0;
    }

    .projeto-descricao {
        font-size: 18px;
        max-width: 600px;
        margin-bottom: 10px;
        text-align: justify;
        color: rgb(170, 157, 157);
    }

    .tags {
        display: flex;
    }

    .projeto-projeto {
        background-color: #008b8b;
        color: white;
        border-radius: 20px;
        padding: 5px 10px;
        margin-right: 10px;
        font-size: 14px;
    }

    .video {
        padding-left: 20px;
    }

    .lista-projetos-descricao {
        color: white;
    }

    .lista-projetos-descricao h1 {
        font-weight: bold;
        font-size: 48px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .lista-projetos-descricao p {
        font-weight: normal;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: justify;
    }
}